#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.progress-button {
    margin-right: 15px;
}
.reset-button {
    margin-left: 15px;
}

.progress-button,
.reset-button {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.progress-button:hover,
.reset-button:hover {
    background-color: #3b3b3b;
    transform: scale(1.15);
    border-color: aliceblue;
}
